[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]

numpy = "*"
pandas = "*"
pyarrow = "*"
scikit-learn = "*"
jupyter = "*"
altair = "==3.2.0"
vega = "==2.5.0"
xgboost = "*"
cloudpickle = "*"

[requires]
python_version = "3.6"
